[(#REM) $Id: json.html,v 1.5 2010/04/02 20:49:10 jonhattan Exp $]

#CACHE{0}
<BOUCLE_json_auteur(AUTEURS) {id_auteur}{statut LIKE '%'}>
<?php
$data = array(
  'id_auteur'          => '#ID_AUTEUR',
  'login'              => '#LOGIN',
  'nom'                => '[(#NOM|texte_script)]',
  'bio'                => '[(#BIO|texte_script)]',
  'email'              => '[(#EMAIL|texte_script)]',
  'lang'               => '#LANG',
  'maj'                => '[(#MAJ|timestamp)]',
  'en_ligne'           => '[(#EN_LIGNE|timestamp)]',
  'statut'             => '#STATUT',
//  'logo_auteur_normal' => '[(# LOGO_AUTEUR_NORMAL|texte_script)]',
);
?>
</BOUCLE_json_auteur>

<BOUCLE_json_article(ARTICLES) {id_article}{statut LIKE '%'}>
<?php
$data = array(
  'id_article'   => '#ID_ARTICLE',
  'date'         => '[(#DATE|timestamp)]',
  'date_modif'   => '[(#DATE_MODIF|timestamp)]',
  'id_auteur'    => '#ID_AUTEUR_ARTICLE',
  'logo'         => '[(#LOGO_ARTICLE|fichier)]',
  'surtitre'     => '[(#SURTITRE|texte_script)]',
  'titre'        => '[(#TITRE|texte_script)]',
  'soustitre'    => '[(#SOUSTITRE|texte_script)]',
  'descriptif'   => '[(#DESCRIPTIF|texte_script)]',
  'chapo'        => '[(#CHAPO|texte_script)]',
  'texte'        => '[(#TEXTE|texte_script)]',
  'ps'           => '[(#PS|texte_script)]',
  'documents'    => '#EMBED_DOCUMENT',
  'id_rubrique'  => '#ID_RUBRIQUE',
  'id_secteur'   => '#ID_SECTEUR',
  'visites'      => '#VISITES',
  'lang'         => '#LANG',
  'notes'        => '[(#NOTES|texte_script)]',
  'introduction' => '[(#INTRODUCTION|texte_script)]',
  'statut'       => '#STATUT',
);
?>
</BOUCLE_json_article>

<BOUCLE_json_document(DOCUMENTS) {id_document}>
<?php
$data = array(
  'id_document' => '#ID_DOCUMENT',
  'date'        => '[(#DATE|timestamp)]',
  'fichier'     => '#FICHIER',
  'basename'    => '[(#FICHIER|basename)]',
  'logo'        => '[(#LOGO_DOCUMENT|fichier)]',
  'titre'       => '[(#TITRE|texte_script)]',
  'descriptif'  => '[(#DESCRIPTIF|texte_script)]',
  'type'        => '[(#TYPE_DOCUMENT|texte_script)]',
  'taille'      => '#TAILLE',
  'largeur'     => '[(#LARGEUR|texte_script)]',
  'hauteur'     => '[(#HAUTEUR|texte_script)]',
);
?>
</BOUCLE_json_document>

<BOUCLE_json_forum(FORUMS) {id_forum}{statut LIKE '%'}>
<?php
$data = array(
  'id_forum'   => '#ID_FORUM',
  'id_parent'  => '#ID_PARENT',
  'id_auteur'  => '#ID_AUTEUR',
  'id_breve'   => '#ID_BREVE',
  'id_article' => '#ID_ARTICLE',
  'date_heure' => '[(#DATE_HEURE|timestamp)]',
  'titre'      => '[(#TITRE|texte_script)]',
  'texte'      => '[(#TEXTE|texte_script)]',
  'ip'         => '#IP'
);
?>
</BOUCLE_json_forum>

<BOUCLE_json_groupe_mot(GROUPES_MOTS) {id_groupe}>
<?php
$data = array(
  'id_groupe'   => '#ID_GROUPE',
  'titre'       => '[(#TITRE|texte_script)]',
  'descriptif'  => '[(#DESCRIPTIF|texte_script)]',
  'obligatoire' => '#OBLIGATOIRE',
  'articles'    => '#ARTICLES',
  'breves'      => '#BREVES'
);
?>
</BOUCLE_json_groupe_mot>

<BOUCLE_json_mot(MOTS) {id_mot}>
<?php
$data = array(
  'id_groupe'  => '#ID_GROUPE',
  'id_mot'     => '#ID_MOT',
  'titre'      => '[(#TITRE|texte_script)]',
  'descriptif' => '[(#DESCRIPTIF|texte_script)]',
  'texte'      => '[(#TEXTE|texte_script)]',
  'type'       => '[(#TYPE|texte_script)]',
);
?>
</BOUCLE_json_mot>

<BOUCLE_json_rubrique(RUBRIQUES) {id_rubrique}>
<?php
$data = array(
  'id_parent'   => '#ID_PARENT',
  'id_rubrique' => '#ID_RUBRIQUE',
  'titre'       => '[(#TITRE|texte_script)]',
  'descriptif'  => '[(#DESCRIPTIF|texte_script)]',
  'texte'       => '[(#TEXTE|texte_script)]',
  'id_secteur'  => '#ID_SECTEUR',
  'lang'        => '#LANG',
);
?>
</BOUCLE_json_rubrique>

<?php
  json_output($data);
?>
